#formulario{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

h1{
    float: left;
}

body{
    background: #000;
    padding: auto;
}

h3{
    text-align: center;
    font-size: 3em;
}

.contacto-wraper{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contacto-wraper > * {
    padding: 1em;
}

.contacto-form{
    background: #222222;
    color: #fff;
}

.contacto-info{
    background: #000;
    color: #fff;
}

.contacto-info h4,
.contacto-info ul,
.contacto-info p{
    text-align: center;
    margin: 0 0 1rem 0;
}

.contacto-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contacto-form form .block{
    grid-column: 0 / 3;
}

.contacto-form form p{
    margin: 0;
    padding: 1em;

}

.contacto-form form button,
.contacto-form form input,
.contacto-form form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.contacto-form form button:hover,
.contacto-form form button:focus{
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
}

.contacto-form form button{
    background: #b70e21;
    color: #000;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

/*LARGE SCREEN*/

@media (min-width: 700px){

    .contacto-wraper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

footer .contenedor{
    color: coral
}

